<nav
  class="navbar navbar-expand-xl fixed-top"
  style="background-color: #eb6e44"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #fff5c3">Dormitory</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if(title=="main"){ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dorm/main"
            >หน้าหลัก</a
          >
        </li>
        <% } else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/dorm/main">หน้าหลัก</a>
        </li>
        <% } %> <% if(title=="all"){ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dorm/all"
            >หอพักทั้งหมด</a
          >
        </li>
        <% } else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/dorm/all">หอพักทั้งหมด</a>
        </li>
        <% } %> <% if(title=="หลังมอ"){ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dorm/all"
            >โซนหลังมอ</a
          >
        </li>
        <% } else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/dorm/zone/หลังมอ">โซนหลังมอ</a>
        </li>
        <% } %> <% if(title=="กังสดาล"){ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dorm/zone/กังสดาล"
            >โซนกังสดาล</a
          >
        </li>
        <% } else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/dorm/zone/กังสดาล">โซนกังสดาล</a>
        </li>
        <% } %>

         <% if(title=="โคลัมโบ"){ %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dorm/zone/โคลัมโบ"
              >โซนโคลัมโบ</a
            >
          </li>
          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/dorm/zone/โคลัมโบ">โซนโคลัมโบ</a>
          </li>
          <% } %>
          <% if(title=="โนนม่วง"){ %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dorm/zone/โนนม่วง"
                >โซนโนนม่วง</a
              >
            </li>
            <% } else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/dorm/zone/โนนม่วง">โซนโนนม่วง</a>
            </li>
            <% } %>
            <% if(title=="เมือง"){ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dorm/zone/เมือง"
                  >โซนเมือง</a
                >
              </li>
              <% } else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/dorm/zone/เมือง">โซนเมือง</a>
              </li>
              <% } %>
      </ul>
      <form class="d-flex" role="search" action="/dorm/search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
